
td.vide {background-color: white; height : 4}
td.bleu {background-color: lightblue; height : 4}
td.rouge {background-color: red; height : 4}
td.vert {background-color: #33aa77; height : 4}
td.orange {background-color: #ff9933; height : 4}


