span.surligne {
	color: Navy;
   	background-color : Yellow;
}

span.paille {
	color: Navy;
   	background-color : #ffffee;
}

span.orange {
	color: Navy;
   	background-color : #ff9933;
}

span.rouge {
	color: Navy;
   	background-color : #ffccbb;
}

span.vert {
	color: Navy;
}

span.ardoise {
	color: Maroon;
}

